<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799012862718-133btq4ocbpkum331pca25t1nhrfcn71.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799012862718-133btq4ocbpkum331pca25t1nhrfcn71</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>799012862718-32f1feqm865h8oen9qblvabhca797h92.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDpLsE8Qg1GjGWu1QIriAl6EPX9FdhDD5E</string>
	<key>GCM_SENDER_ID</key>
	<string>799012862718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.twitterclone</string>
	<key>PROJECT_ID</key>
	<string>group-chat-d3408</string>
	<key>STORAGE_BUCKET</key>
	<string>group-chat-d3408.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799012862718:ios:ed3b59a4f0b06e761ac3af</string>
</dict>
</plist>